.editempgroup {
  margin-bottom: 1rem;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.editemp-save {
  padding: 8px 30px;
  background-color: #03a6d8;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.editemp-save:hover {
  background-color: #0185ad;
}
.editemp-close {
  padding: 8px 30px;
  background-color: #f10707e4;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.editemp-close:hover {
  background-color: #d70303e4;
}
.skill-group {
  position: relative;
  margin-bottom: 10px;
}

.skill-name {
  width: calc(100% - 40px);
  display: inline-block;
}

.skill-proficiency {
  width: calc(100% - 40px);
  display: inline-block;
  margin-left: 0px;
}

.remove-skill-button {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  font-size: 1.2em;
  color: #ff0000;
  cursor: pointer;
}

.addempgroup .remove-skill-button {
  right: 0px;
  top: 19%;
  
  transform: translateY(-50%);
}
